In [50]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

obs=pd.read_csv('observations.csv')
species = pd.read_csv('species_info.csv')
species_drop = species.drop_duplicates(subset=['scientific_name'])

df = obs.merge(species_drop, on='scientific_name', how='left')

In [56]:
df

,scientific_name,park_name,observations,category,common_names,conservation_status
0,Vicia benghalensis,Great Smoky Mountains National Park,68,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
1,Neovison vison,Great Smoky Mountains National Park,77,Mammal,American Mink,NaN
2,Prunus subcordata,Yosemite National Park,138,Vascular Plant,Klamath Plum,NaN
3,Abutilon theophrasti,Bryce National Park,84,Vascular Plant,Velvetleaf,NaN
4,Githopsis specularioides,Great Smoky Mountains National Park,85,Vascular Plant,Common Bluecup,NaN
...,...,...,...,...,...,...
23291,Croton monanthogynus,Yosemite National Park,173,Vascular Plant,Prairie Tea,NaN
23292,Otospermophilus beecheyi,Bryce National Park,130,Mammal,California Ground Squirrel,NaN
23293,Heterotheca sessiliflora ssp. echioides,Bryce National Park,140,Vascular Plant,Sessileflower False Goldenaster,NaN
23294,Dicranella rufescens,Yosemite National Park,171,Nonvascular Plant,Dicranella Moss,NaN
23295,Cucurbita pepo,Yosemite National Park,164,Vascular Plant,Field Pumpkin,NaN

In [55]:
print(df.loc[df.conservation_status=='Endangered'])
print(df[df.conservation_status=='Endangered'].count())

                    scientific_name                  park_name  observations  \
271               Picoides borealis     Yosemite National Park            43
484                    Rana sierrae     Yosemite National Park            42
939                     Canis rufus        Bryce National Park            30
1265           Etheostoma percnurum  Yellowstone National Park            70
1294                    Canis lupus     Yosemite National Park            35
...                             ...                        ...           ...
20570  Glaucomys sabrinus coloratus  Yellowstone National Park            67
20972             Picoides borealis        Bryce National Park            24
21268          Etheostoma percnurum     Yosemite National Park            40
22412                 Geum radiatum        Bryce National Park            25
22961       Gymnogyps californianus  Yellowstone National Park            64

             category                                       common_names  \
271              Bird                            Red-Cockaded Woodpecker
484         Amphibian                   Sierra Nevada Yellow-Legged Frog
939            Mammal                                           Red Wolf
1265             Fish                                   Duskytail Darter
1294           Mammal                                          Gray Wolf
...               ...                                                ...
20570          Mammal  Carolina Northern Flying Squirrel, Northern Fl...
20972            Bird                            Red-Cockaded Woodpecker
21268            Fish                                   Duskytail Darter
22412  Vascular Plant                    Mountain Avens, Spreading Avens
22961            Bird                                  California Condor

      conservation_status
271            Endangered
484            Endangered
939            Endangered
1265           Endangered
1294           Endangered
...                   ...
20570          Endangered
20972          Endangered
21268          Endangered
22412          Endangered
22961          Endangered

[68 rows x 6 columns]
scientific_name        68
park_name              68
observations           68
category               68
common_names           68
conservation_status    68
dtype: int64

In [57]:
print(df.conservation_status.unique())
species.info()
species_drop.info()

[nan 'Species of Concern' 'Endangered' 'Threatened' 'In Recovery']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5824 entries, 0 to 5823
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   category             5824 non-null   object
 1   scientific_name      5824 non-null   object
 2   common_names         5824 non-null   object
 3   conservation_status  191 non-null    object
dtypes: object(4)
memory usage: 182.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5541 entries, 0 to 5823
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   category             5541 non-null   object
 1   scientific_name      5541 non-null   object
 2   common_names         5541 non-null   object
 3   conservation_status  178 non-null    object
dtypes: object(4)
memory usage: 216.4+ KB